.posicion_right
{
	width: 13%;
	position: absolute;
	padding: 10px;
}

.posicion_left
{
	width: 50%;
	position: absolute;
	left: 80%;
	padding: 10px;
}

.transparent
{
	background-color: rgba(0, 100, 0, 0.45);
	color: white;
}

.login_dialog
{
	width: 600px;
	position: absolute;
	left: 35%;
	top: 36%;
	padding: 10px;
}
.box
{
	border: 1px solid white;
	background-color: #7BA93D ;
	box-shadow: 5px 5px 10px #1C1C1C;
	padding: 15px;
	width: 800px;
	margin: 0 auto;
}

.info 
{
	margin: 3px 5px 0px 0px !important;
	float: right;
}

.left
{
	margin: 0px 50px 0px 50px;
	padding: 10px;
}

.right
{
	margin: 0px 0px 0px 430px;
	padding: 10px;
}

.textleft
{
	margin: 6px 50px 0px 50px;
	padding: 10px;
}

.textright
{
	margin: -44px 0px 0px 430px;
	padding: 10px;
}

.radioleft
{
	margin: 0px 300px 50px 15px;
}

.radioright
{
	margin: -214px 0px 50px 400px;
}
.namebar
{
	width: 100%;
	position: absolute;
	top: 75%;
}

.rounded_borders
{
	border-radius: 15px;
}

.title
{
	font-family: "Century Gothic", "Arial";
	font-size: 30;
	color: white;
	text-align: center;
}

.subtitle
{
	font-family: "Century Gothic", "Arial";
	color:  #a8f1e4 ;
	font-size: 25;
	text-align: center;
	margin: 5px;
}
.campo_center
{
	margin: -11.4% 0% 0% 37%;
	font-family: "Century Gothic", "Arial";
	font-size: 150%;
	color:  white ;
	padding: 2%;
	width: 300px;
	text-align: center;
}
.campo_left
{
	margin: 0% 0% 0% 0%;
	font-family: "Century Gothic", "Arial";
	font-size: 150%;
	color:  white ;
	padding: 2%;
	width: 300px;
	text-align: center;
}

.campo_right
{
	margin: -11.3% 0% 0% 73%;
	font-family: "Century Gothic", "Arial";
	font-size: 150%;
	color:  white ;
	padding: 2%;
	width: 300px;
}
@media screen and (max-width: 1200px) {
select{
	color: #035013;
	width: 10%;
	height: 50px;
	padding: 12px 12px;
	border-radius: 10px;	
	font-size:2%;
	text-align: center;
  	background:  white ;
}
input[placeholder] {
	width: 100%;
	height: 50px;
	color:  #035013;
	text-align: center;
  	padding: 1% 1%;
	font-size:2%;
	border-radius: 10px;
  	background: rgba(255,255,255,0.97);
}
.campo_center
{
	margin: -12.3% 0% 0% 37%;
	font-family: "Century Gothic", "Arial";
	font-size: 18;
	color:  white ;
	padding: 2%;
	width: 30%;
	text-align: center;
}

.campo_left
{
	margin: 0% 0% 0% 0%;
	font-family: "Century Gothic", "Arial";
	font-size: 18;
	color:  white ;
	padding: 2%;
	width: 30%;
	text-align: center;
}

.campo_right
{
	margin: -12.3% 0% 0% 73%;
	font-family: "Century Gothic", "Arial";
	font-size: 18;
	color:  white ;
	padding: 2%;
	width: 30%;
}
}
@media screen and (max-width: 1000px) {
select{
	color: #035013;
	width: 10%;
	height: 50px;
	padding: 12px 12px;
	border-radius: 10px;	
	font-size:2%;
	text-align: center;
  	background:  white ;
}
input[placeholder] {
	width: 100%;
	height: 50px;
	color:  #035013;
	text-align: center;
  	padding: 1% 1%;
	font-size:2%;
	border-radius: 10px;
  	background: rgba(255,255,255,0.97);
}
.campo_center
{
	margin: -14.5% 0% 0% 37%;
	font-family: "Century Gothic", "Arial";
	font-size: 16;
	color:  white ;
	padding: 2%;
	width: 30%;
	text-align: center;
}

.campo_left
{
	margin: 0% 0% 0% 0%;
	font-family: "Century Gothic", "Arial";
	font-size: 16;
	color:  white ;
	padding: 2%;
	width: 30%;
	text-align: center;
}

.campo_right
{
	margin: -14.5% 0% 0% 73%;
	font-family: "Century Gothic", "Arial";
	font-size: 16;
	color:  white ;
	padding: 2%;
	width: 30%;
}
}
@media screen and (max-width: 769px) {
.campo_center
{
	margin: 0 auto;
	font-family: "Century Gothic", "Arial";
	font-size: 18;
	color:  white ;
	padding: 2%;
	width: 300px;
	text-align: center;
}

.campo_left
{
	margin: 0 auto;
	font-family: "Century Gothic", "Arial";
	font-size: 18;
	color:  white ;
	padding: 2%;
	width: 300px;
	text-align: center;
}

.campo_right
{
	margin: 0 auto;
	font-family: "Century Gothic", "Arial";
	font-size: 18;
	color:  white ;
	padding: 2%;
	width: 300px;
	text-align: center;
}
}
@media screen and (max-width: 400px) {
.campo_center
{
	margin: 0 auto;
	font-family: "Century Gothic", "Arial";
	font-size: 18;
	color:  white ;
	padding: 2%;
	width: 200px;
	text-align: center;
}

.campo_left
{
	margin: 0 auto;
	font-family: "Century Gothic", "Arial";
	font-size: 18;
	color:  white ;
	padding: 2%;
	width: 200px;
	text-align: center;
}

.campo_right
{
	margin: 0 auto;
	font-family: "Century Gothic", "Arial";
	font-size: 18;
	color:  white ;
	padding: 2%;
	width: 200px;
	text-align: center;
}
}

.text
{
	font-family: "Century Gothic", "Arial";
	font-size: 20;
	margin: 5px;
	color:  white ;
}

.infotext
{
	font-family: Arial;
	font-size: 13;
	text-align: right;
	padding-right: 20px;
	margin: 0px;
	color: rgb(145, 145, 165);
}

.floatingtext
{
	font-family: Century;
	font-size: 14;
	text-align: right;
	margin: 0px;
	color: rgb(175, 175, 195);
	text-shadow: 0px 0px 5px #f7f7f7;
}

.centered
{
	text-align: center;
}

form button{
	    	width:125px;
	    	margin:20px 0px 0px 0px;
	    	height:40px;
	    	background: #167705; /* Old browsers */
		background: -moz-linear-gradient(top, #7CA275 0%, #3F7735 50%, #576F53 51%,#224D1B 61%, #167705 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #7CA275 0%,#3F7735 50%,#576F53 51%,#224D1B 61%,#167705 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #7CA275 0%,#3F7735 50%,#576F53 51%,#224D1B 61%,#0A3802 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7CA275', endColorstr='#0A3802',GradientType=0 ); /* IE6-9 */
 		border:1px solid #232323;
 		color:#fff;
 		box-shadow:0px 2px 0px #000;
 		-moz-box-shadow:0px 2px 0px #000;
 		-webkit-box-shadow:0px 2px 0px #000;
 		border-radius:10px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	    }
form button:hover{
	    	background:#576F53;
	    }
form button:active{
		background:#576F53;
	}

.button{
	    	width:125px;
	    	margin:20px 0px 0px 0px;
	    	height:40px;
	    	background: #167705; /* Old browsers */
		background: -moz-linear-gradient(top, #7CA275 0%, #3F7735 50%, #576F53 51%,#224D1B 61%, #167705 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #7CA275 0%,#3F7735 50%,#576F53 51%,#224D1B 61%,#167705 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #7CA275 0%,#3F7735 50%,#576F53 51%,#224D1B 61%,#0A3802 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7CA275', endColorstr='#0A3802',GradientType=0 ); /* IE6-9 */
 		border:1px solid #232323;
 		color:#fff;
 		box-shadow:0px 2px 0px #000;
 		-moz-box-shadow:0px 2px 0px #000;
 		-webkit-box-shadow:0px 2px 0px #000;
 		border-radius:10px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	    }
.button:hover{
	    	background:#576F53;
	    }
.button:active{
		background:#576F53;
	}
#radio
{
}

#cedula
{
	color:#035013;
	width:150%; 
}
#red
{

	width:18%; 
}
th
{
	text-align:center;
}

input {
	width: 100%;
	height: 50px;
	color:  #035013;
	text-align: center;
  	padding: 12px 9px;
  	border: 0;
	font-size:18px;
	border-radius: 10px;
  	background: rgba(255,255,255,0.97);
}

input[placeholder] {
	color:  #035013;
	text-align: center;
  	padding: 12px 9px;
  	border: 0;
	font-size:18px;
	border-radius: 5px;
  	background: rgba(255,255,255,0.97);
}
select{
	color: #035013;
	width: 100%;
	height: 50px;
	padding: 1% 1%;
	border-radius: 10px;	
	font-size:2%;
	text-align: center;
  	background:  white ;
}
option{
	color: #035013 ;
	font-size: 15px;
}

.transition {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.div-img {
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
.div-img .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-img .text {
  font-family: 'Open Sans';
  position: relative;
  z-index: -1;
  display: block;
  bottom: 10px;
  width: 40%;
  text-align: center;
  margin: 10px 0px 0px 80px;
  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-img:hover .img {
  -webkit-transform: 0px -30px 0.5;
  -moz-transform: 0px -30px 0.5;
  -ms-transform: 0px -30px 0.5;
  -o-transform: 0px -30px 0.5;
  transform: 0px -30px 0.5;
  transform: translate(0px, -30px) scale(0.5);
  -webkit-transform: translate(0px, -30px) scale(0.5);
  -moz-transform: translate(0px, -30px) scale(0.5);
  -o-transform: translate(0px, -30px) scale(0.5);
  -ms-transform: translate(0px, -30px) scale(0.5);
  border-radius: 100%;
}
.div-img:hover .text {
  -webkit-transform: 0px 0px 2;
  -moz-transform: 0px 0px 2;
  -ms-transform: 0px 0px 2;
  -o-transform: 0px 0px 2;
  transform: 0px 0px 2;
  transform: translate(0px, 0px) scale(2);
  -webkit-transform: translate(0px, 0px) scale(2);
  -moz-transform: translate(0px, 0px) scale(2);
  -o-transform: translate(0px, 0px) scale(2);
  -ms-transform: translate(0px, 0px) scale(2);
}

#filtro
{
	color:  #035013;
	font-size:16px;
  	padding: 0px;
	width: 105px;
	height: 35px;
  	background: rgba(163, 216, 138,0.97);
}



.roundedTwo {
	width: 25px;
	height: 25px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.roundedTwo label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 5px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.roundedTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.roundedTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}


	
















