.row {
	padding: 5px;
}

.menu {
    position:relative;
    top:105px;
    left:-0px;
    box-shadow: 5px 5px 10px #1C1C1C;
}

.body {
	background-color: white;
}

.container {

    position: relative ;
    top:120px;
    left:-0px;
}
	
.fullwidth {
	width: 100%;
}
		
.columna {
	position:relative;
    padding: 10px;
    
}

.subcolumna {
	border: 1px solid white;
	background-color: #7BA93D;
	box-shadow: 5px 5px 10px #1C1C1C;
	padding: 15px;


}
.subcolumna2 {
	border: 1px solid white;
	background-color: ;
	box-shadow: 5px 5px 10px #1C1C1C;
	padding: 15px;
	width: auto;
	margin: 0px 0px 0px 0px;
}

.cuadros {
	border: 0px solid #72a733;
	background-color: white;
	/*box-shadow: 5px 5px 10px #1C1C1C;*/
	color: white;
	padding: 15px;
	
}

.legendStyle {
	color: white;
}
/************ banner-cintillo *****************/
.gmap {
	position:absolute;
	top:0;
	left:0;
}
	
.overlap {
	position:relative;
}

/*************************************/


.footer {
    background-color: #1d270e;
	bottom: 0;
	padding-top: 10px;

}

.footer2 {
    background-color: #121909;
	bottom: 0;
	padding-top: 0px;

}

.copy-left {

display: inline-block;

text-align: right;

margin: 0px;

-moz-transform: scaleX(-1);

-o-transform: scaleX(-1);

-webkit-transform: scaleX(-1);

transform: scaleX(-1);

filter: FlipH;

-ms-filter: "FlipH";

}

.h2 {
	background-color:  #053201;
	padding: 5px;
}

.h3 {
	background-color:  green;
	padding: 0px;
}

.h4 {
	color: white;
	padding: 5px;
	font-style: italic;
	
}

.h5 {
	color:white;
	
}
.h6 {
	color: black;
	padding: 5px;
}



.titulos {
	color: #053201;
	padding: 5px;
	font-weight: bold;
}

.subtitulos {
	color: white;
	padding: 5px;
	background-color:  #053201;
}

.natural {
	color: white;
	padding: 5px;
	background-color:  #86c43d;
	border: 1px solid #6a6565;
}

.juridico {
	color: white;
	padding: 5px;
	background-color:  #537a25;
	border: 1px solid #6a6565;
}

.video {
    width: 100%;
    height: 415;
}


.login-page {
  width: 360px;
  padding: 1% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

